<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hello, there this is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur aliquam nisi dolores repudiandae eveniet neque dolor cum, nostrum aliquid vero accusantium quia atque omnis delectus reprehenderit? Minus odit perspiciatis facere.</p>
</body>
</html>